{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    -->

    <!-- Include the Bulma CSS framework for styling 
    <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">


    {% if title %}
        <title>Django Blog - {{title}}</title>
    {% else %}
        <title>Django Blog</title>
    {%endif%}
    
    <!-- <link rel="stylesheet" href="styles/debug.css"> -->
    <link href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap.min.js' %}"></script>


</head>
<body>

                <section class="hero is-small is-success mb-4">
                        <div class="hero-head">
                            <nav class="navbar">
                                <div class="container has-text-centered">
                                    <div class="navbar-brand">
                                        <h1 class="title is-1"><a href="{% url 'blog-home' %}">Django Blog</a></h1>
                                        <span class="navbar-burger" data-target="navbarMenuHeroA">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                          </span>
                                    </div>
                                    <div id="navbarMenuHeroA" class="navbar-menu">
                                        <div class="navbar-end">
                                            <ul class="menu-list">
                                                <li><a class="navbar-item is-active"  href="{% url 'blog-home' %}">
                                                    Home
                                                </a></li>
                                            
                                                <li><a class="navbar-item" href="{% url 'blog-about' %}">
                                                    About
                                                </a></li>
                                                {% if user.is_authenticated %}
                                                    <li><a class="navbar-item" href="{% url 'post-create' %}">New Post</a></li>
                                                    <li><a class="navbar-item" href="{% url 'logout' %}">Logout</a></li>
                                                    <li><a class="navbar-item" href="{% url 'profile' %}">Profile</a></li>
                                                {% else %}
                                                    <li><a class="navbar-item" href="{% url 'login' %}">Login</a></li>
                                                    <li><a class="navbar-item" href="{% url 'register' %}">Register</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>          
                </section>
                   
                
        

            <main role="main" class="container">
                <div class="row">
                <div class="col-md-8">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}{% endblock %}
                </div>
                <div class="col-md-4">
                    <div class="content-section">
                    <h3>Our Sidebar</h3>
                    <p class='text-muted'>You can put any information here you'd like.
                        <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                        </ul>
                    </p>
                    </div>
                </div>
                </div>
            </main>



<!-- Optional JavaScript 
    jQuery first, then Popper.js, then Bootstrap JS 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
-->
</body>
</html>