 <!-- {% load static %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'blog/css/bootstrap.min.css' %}">
<script src="{% static 'blog/bootstrap.min.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
     Required meta tags
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     Bootstrap CSS
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    

  
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">


    {% if title %}
        <title>Django Blog - {{title}}</title>
    {% else %}
        <title>Django Blog</title>
    {%endif%}
    
     <link rel="stylesheet" href="styles/debug.css"> 



</head>
<body>
     <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Django Blog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
                <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
              </div>
              
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header> 

      Main Navigation
        <header>
            Animated navbar
            <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
            <div class="container-fluid">
                <button
                        class="navbar-toggler ps-0"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarExample01"
                        aria-controls="navbarExample01"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        >
                <span
                        class="navbar-toggler-icon d-flex justify-content-start align-items-center"
                        >
                    <i class="fas fa-bars"></i>
                </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                    <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#intro">Home</a>
                    </li>
                    <li class="nav-item">
                    <a
                        class="nav-link"
                        href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"
                        rel="nofollow"
                        target="_blank"
                        >Learn Bootstrap 5</a
                        >
                    </li>
                    <li class="nav-item">
                    <a
                        class="btn btn-outline-light btn-lg m-2"
                        href="https://mdbootstrap.com/docs/standard/"
                        target="_blank"
                        >Login</a
                        >
                    </li>
                </ul>
        
                <ul class="navbar-nav flex-row">
                    Icons
                    <li class="nav-item">
                    <a
                        class="nav-link pe-2"
                        href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"
                        rel="nofollow"
                        target="_blank"
                        >
                        <i class="fab fa-youtube"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a
                        class="nav-link px-2"
                        href="https://www.facebook.com/mdbootstrap"
                        rel="nofollow"
                        target="_blank"
                        >
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a
                        class="nav-link px-2"
                        href="https://twitter.com/MDBootstrap"
                        rel="nofollow"
                        target="_blank"
                        >
                        <i class="fab fa-twitter"></i>
                    </a>
                    </li>
                    <li class="nav-item">
                    <a
                        class="nav-link ps-2"
                        href="https://github.com/mdbootstrap/mdb-ui-kit"
                        rel="nofollow"
                        target="_blank"
                        >
                        <i class="fab fa-github"></i>
                    </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
            Animated navbar
        
             Background image
            <div
                id="intro"
                class="bg-image"
                style="
                        background-image: url(https://mdbcdn.b-cdn.net/img/new/fluid/city/113.jpg);
                        height: 100vh;
                        "
                >
            <div class="mask text-white" style="background-color: rgba(0, 0, 0, 0.8)">
                <div class="container d-flex align-items-center text-center h-100">
                <div>
                    <h1 class="mb-5">This is title</h1>
                    <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis molestiae
                    laboriosam numquam expedita ullam saepe ipsam, deserunt provident corporis,
                    sit non accusamus maxime, magni nulla quasi iste ipsa architecto? Autem!
                    </p>
                </div>
                </div>
            </div>
            </div>
            Background image
        </header>
        Main Navigation
        
        <div class="container my-5">
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quam minima perspiciatis eos tenetur. Praesentium dolores at quos aperiam sed, sint provident consectetur incidunt, nostrum porro earum commodi, ex architecto.</p>
        
        </div>
                   
                
        

            
 Optional JavaScript
    jQuery first, then Popper.js, then Bootstrap JS 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

</body>
</html>  -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'blog/css/bootstrap.min.css' %}">
<script src="{% static 'blog/bootstrap.min.js' %}"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">




    {% if title %}
        <title>Django Blog - {{title}}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
        <div class="m-4">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a href="{% url 'blog-home' %}" class="navbar-brand">Django Blog</a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="{% url 'blog-home' %}" class="nav-item nav-link active">Home</a>
                            <a href="{% url 'blog-about' %}" class="nav-item nav-link">About</a>
                        </div>
                        <div class="navbar-nav ms-auto">
                                {% if user.is_authenticated %}
                                    <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                                {% else %}
                                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                                {% endif %}
                    </div>
                        </div>
                </div>
            </nav>
        </div>

        <main role="main" class="container">
            <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                </p>
                </div>
            </div>
            </div>
        </main>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>