{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
            <div class="clearfix mt-40">
                <ul class="xsearch-items">
                    <li class="search-item">
                        <div class="search-item-img">
                            <a href="#">
                                <img src="{{ post.author.profile.image.url }}" width="70" height="70">
                            </a>
                        </div>
                        <div class="search-item-content">
                            <h3 class="search-item-caption"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                            <div class="search-item-meta mb-15">
                                <ul class="list-inline">
                                    <li><a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></li>
                                    <li><small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small></li>
                                </ul>
                            </div>
                            <div>
                                <p class="article-content">{{ post.content }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        {% if is_paginated %}

            {% if page_obj.has_previous %}
              <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
      
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
      
            {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
      
        {% endif %}
    
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}
