{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content section">
        <form method="POST">
           {% csrf_token %} 
           <fieldset class="form group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
           </fieldset>
           <div class="form-group">
                <button class="is-primary" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
           </div>
        </form>
        <div class="border-top pt-3">
            <small class="text muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}
<!--
<div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success">
        Login
      </button>
    </p>
  </div>

-->